*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*::-moz-selection {
  color: white;
  background-color: #2b3438;
}

*::selection {
  color: white;
  background-color: #2b3438;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0.3rem;
  width: 100%;
  background-color: #333333;
  color: #ebebeb;
  font-family: 'Noto Serif JP', serif;
}

body .container-main-page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body .container-main-page::-webkit-scrollbar {
  display: none;
}

body.active-info {
  overflow: hidden;
}

body.active-info #layoff {
  visibility: visible;
  opacity: 1;
}

body.active-info #instructions {
  visibility: visible;
  opacity: 1;
  width: 70%;
  min-width: 25rem;
  max-width: 50rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#layoff {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.589);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 100%;
  height: 100%;
}

#instructions {
  position: absolute;
  background-color: white;
  color: black;
  padding: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.1rem solid black;
  z-index: 999;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 0;
  height: 0;
  overflow-y: auto;
}

#instructions .content-ins h2 {
  text-align: center;
}

#instructions .content-ins ul {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

#instructions .content-ins ul li {
  text-align: justify;
  font-weight: 600;
  margin-top: 0.5rem;
}

#instructions #close-info-btn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

header {
  padding: 1rem;
  border-bottom: 0.1rem solid grey;
  margin: 0.4rem;
}

header .page-heading {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

header .btn-cont {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

header .btn-cont .download-btn {
  background-color: #00a2ff;
  border-radius: 1rem;
  color: white;
  border: none;
  padding: 0.5rem;
  font-family: 'Noto Serif JP', serif;
  margin: 0.2rem 0.5rem;
}

header .btn-cont .download-btn:hover, header .btn-cont .info:hover {
  cursor: pointer;
}

.resume-container {
  padding: 0.2rem;
  color: black;
  background-color: white;
}

.resume-container .resume-head {
  border-bottom: 0.1rem solid grey;
}

.resume-container .resume-head .name {
  padding: 0.2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.resume-container .resume-head .about {
  padding: 0.2rem;
  font-size: 0.7rem;
  color: grey;
  margin-bottom: 0.3rem;
}

.resume-container .main-resume.download-active #user-web-link {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .delete-section {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .switch-to-table {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .education-table th:last-child {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .education-table td:last-child {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .content-list .content-item .delete-info {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item .delete-info {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .add-more {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .add-more#add-edutab-btn {
  display: none;
}

.resume-container .main-resume.download-active .left-section .resume-section .section-content .add-more#add-edu-btn {
  display: none;
}

.resume-container .main-resume.download-active .right-section .resume-section #user-web-link {
  display: none;
}

.resume-container .main-resume.download-active .right-section .resume-section .delete-section {
  display: none;
}

.resume-container .main-resume.download-active .right-section .resume-section .resume-skills-list .skill-item .delete-info {
  display: none;
}

.resume-container .main-resume.download-active .right-section .resume-section .add-more {
  display: none;
}

.resume-container .main-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2rem;
}

.resume-container .main-resume .left-section {
  width: 70%;
  border-right: 0.1rem solid grey;
  padding: 0.2rem;
}

.resume-container .main-resume .left-section .resume-section.dragging {
  opacity: 0.5;
  background-color: silver;
}

.resume-container .main-resume .left-section .resume-section {
  position: relative;
}

.resume-container .main-resume .left-section .resume-section .delete-section {
  color: grey;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0.2rem;
  border: 0.1rem solid grey;
  padding: 0.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.resume-container .main-resume .left-section .resume-section .switch-to-table {
  position: absolute;
  color: grey;
  top: 0;
  right: 3rem;
  font-size: 0.9rem;
  border: 0.1rem solid grey;
  border-radius: 0.7rem;
  padding: 0 0.2rem;
}

.resume-container .main-resume .left-section .resume-section .resume-section-head {
  font-weight: 800;
  font-size: 1.1rem;
}

.resume-container .main-resume .left-section .resume-section .section-content.active-tab .education-table {
  display: block;
}

.resume-container .main-resume .left-section .resume-section .section-content.active-tab .content-list {
  display: none;
}

.resume-container .main-resume .left-section .resume-section .section-content.active-tab #add-edutab-btn {
  display: block;
}

.resume-container .main-resume .left-section .resume-section .section-content.active-tab #add-edu-btn {
  display: none;
}

.resume-container .main-resume .left-section .resume-section .section-content #add-edutab-btn {
  display: none;
}

.resume-container .main-resume .left-section .resume-section .section-content #add-edu-btn {
  display: block;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table {
  display: none;
  width: 100%;
  margin-top: 0.4rem;
  text-align: center;
  font-size: 0.7rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr th:first-child {
  border-left: 0.1rem solid black;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr td:first-child {
  border-left: 0.05rem solid black;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr th {
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  padding: 0.2rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr .tb-name {
  width: 25%;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr .tb-degree {
  width: 25%;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr .tb-grade {
  width: 10%;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr .tb-ach {
  width: 25%;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr .tb-year {
  width: 10%;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr .tb-del {
  width: 5%;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr td {
  border-right: 0.05rem solid black;
  border-bottom: 0.05rem solid black;
  padding: 0.2rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .education-table tr td .delete-info {
  color: grey;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list {
  padding: 0.3rem;
  display: block;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item {
  position: relative;
  margin: 0.3rem;
  border-bottom: 0.1rem solid rgba(160, 160, 160, 0.411);
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .delete-info {
  position: absolute;
  right: 0.4rem;
  font-size: 1rem;
  top: 0.4rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .delete-info:hover {
  cursor: pointer;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .content-item-head {
  font-size: 0.8rem;
  font-weight: 600;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .brief-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .brief-cont .content-item-role {
  color: grey;
  padding: 0 0.3rem;
  font-size: 0.6rem;
  border-right: 0.1rem solid grey;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .brief-cont .content-item-duration {
  color: grey;
  font-size: 0.6rem;
  padding-left: 0.3rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .content-item-desc-list {
  padding: 0.1rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(156, 156, 156, 0.062);
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item {
  padding-left: 0.2rem;
  position: relative;
  list-style-type: "--";
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item .content-desc-text {
  font-size: 0.6rem;
}

.resume-container .main-resume .left-section .resume-section .section-content .content-list .content-item .content-item-desc-list .content-item-desc-item .delete-info {
  position: absolute;
  right: 0.2rem;
  color: grey;
  top: 50%;
  font-size: 0.8rem;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.resume-container .main-resume .left-section .resume-section .section-content .add-more {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid black;
  background-color: #d4d4d4;
  text-align: center;
}

.resume-container .main-resume .left-section .resume-section .section-content .add-more:hover {
  cursor: pointer;
}

.resume-container .main-resume .right-section {
  width: 30%;
  padding: 0.2rem;
}

.resume-container .main-resume .right-section .resume-section {
  margin: 1rem 0.2rem;
  position: relative;
}

.resume-container .main-resume .right-section .resume-section .delete-section {
  color: grey;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0.2rem;
  border: 0.1rem solid grey;
  padding: 0.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.resume-container .main-resume .right-section .resume-section .resume-sec-head {
  font-weight: 800;
  font-size: 1.1rem;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list {
  margin: 0.3rem;
  padding-left: 0.8rem;
  list-style-type: none;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list .skill-item {
  position: relative;
  padding: 0.1rem;
  border-bottom: 0.1rem solid rgba(158, 158, 158, 0.459);
  margin: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list .skill-item .skill-head {
  font-weight: 600;
  margin-right: 0.4rem;
  font-size: 0.7rem;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list .skill-item .skill-text {
  font-size: 0.7rem;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list .skill-item .skill-text .skill-link:hover {
  cursor: pointer;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list .skill-item .delete-info {
  position: absolute;
  right: 0;
  top: 50%;
  color: grey;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
}

.resume-container .main-resume .right-section .resume-section .resume-skills-list .skill-item .delete-info:hover {
  cursor: pointer;
}

.resume-container .main-resume .right-section .resume-section .add-more {
  font-size: 1rem;
  border: 0.1rem solid black;
  margin: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 700;
  background-color: #d1d1d1;
  border-radius: 10rem;
  text-align: center;
}

.resume-container .main-resume .right-section .resume-section .add-more:hover {
  cursor: pointer;
}

footer {
  border-top: 0.1rem solid grey;
  margin: 0.4rem;
}

footer .foot-heading {
  padding: 0.3rem;
  text-align: center;
  font-size: 1.2rem;
}

footer .copyright {
  text-align: center;
  color: grey;
  font-size: 0.8rem;
}

footer .social-med {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-med .soc-logo {
  margin: 0.5rem;
}

footer .social-med .soc-logo a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #afafaf;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .social-med .soc-logo .fa-facebook-square:hover {
  color: #0066ff;
}

footer .social-med .soc-logo .fa-github:hover {
  color: #54069c;
}

footer .social-med .soc-logo .fa-instagram:hover {
  color: #f74ec4;
}

footer .social-med .soc-logo .fa-linkedin-square:hover {
  color: #6ab4fa;
}

footer .social-med .soc-logo .fa-envelope-o:hover {
  color: #ff3300;
}
/*# sourceMappingURL=main.css.map */